<!-- <swiper-container loop="true" navigation="true">
  <swiper-wrapper>
    <swipe-slide>
      <img src="SilverBg.jpg" alt="Cinque Terre" />
    </swipe-slide>
    <swipe-slide>
      <img src="SilverBg.jpg" alt="Cinque Terre" />
    </swipe-slide>
    <swipe-slide>
      <img src="SilverBg.jpg" alt="Cinque Terre" />
    </swipe-slide>
  </swiper-wrapper>
</swiper-container> -->

<main class="main overflow-auto">
  <!-- Top Toolbar: start -->
  <app-top-toolbar></app-top-toolbar>
  <!-- Top Toolbar: end -->

  <!-- Home Body: start -->
  <div class="home-body">
    <!-- Section 1: start -->
    <section class="section1">
      <img
        class="img-bg"
        src="SilverBg.jpg"
        alt="Cinque Terre"
        width="600"
        height="200"
      />

      <div class="section1-right">
        <div class="section1-right-title">Silver Supplier</div>
        <div class="section1-right-info">
          Offering premium quality silver jewelry that caters to a wide range of
          tastes and preferences
        </div>
      </div>
    </section>
    <!-- Section 1: end -->

    <!-- Section 2 -->
    <!-- <section class="section2">123123123123</section>

    <div>
      <swiper-container loop="true" autoplay-delay="2500" pagination="true">
        <swiper-slide><img src="SilverBg.jpg" /></swiper-slide>
        <swiper-slide style="color: yellow">Slide 1</swiper-slide>
        <swiper-slide style="color: yellow">Slide 2</swiper-slide>
        <swiper-slide style="color: yellow">Slide 3</swiper-slide>
      </swiper-container>
    </div> -->
  </div>
  <!-- Home Body: end -->
</main>
