@tailwind base;
@tailwind components;
@tailwind utilities;

@import "app/@config/app_config_variable.scss";

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.scrollable-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main {
  @apply h-screen; //w-screen
}

body {
  display: block;
  margin: 0 !important;
}
